// UniLang Resource Script
//
#include "resource.h"
#include <windows.h>

/////////////////////////////////////////////////////////////////////////////
// English (United States) resources

LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
#pragma code_page(65001)  // UTF-8

/////////////////////////////////////////////////////////////////////////////
//
// JSON
//

IDR_SHORTCUTS_JSON      JSON    "../config/shortcuts.json"

/////////////////////////////////////////////////////////////////////////////
//
// Icon
//

IDI_APP_ICON            ICON    "UniLang.ico"

/////////////////////////////////////////////////////////////////////////////